@import './__title/lead__title.css';
@import './__subtitle/lead__subtitle.css';
@import './__image/lead__image.css';
@import './__caption/lead__caption.css';

.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 148px 0;
  font-family: 'Inter',sans-serif;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 48px 48px 0;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    padding: 48px 0 0;
  }
}

@media screen and (max-width: 425px) {
  .lead {
    padding: 42px 0 0;
  }
}
