.footer__link-item {
  margin-right: 19px;
  color: #FFFFFF;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
}

.footer__link-item:last-of-type {
 margin-right: 0px;
}

@media screen and (max-width: 650px) {
  .footer__link-item {
      margin-bottom: 32px;
  }
  .footer__link-item:last-of-type {
    margin-bottom: 48px;
   }
}
