@import './__title/cover__title.css';
@import './__subtitle/cover__subtitle.css';
@import './__overlay/cover__overlay.css';

  .cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 1184px;
    width: 100%;
    padding-top: 0;
    margin-top: 102px;
    font-family: 'Inter', Arial, sans-serif;
  }

